apiVersion: ipam.metal.ironcore.dev/v1alpha1
kind: Subnet
metadata:
  name: ipv4-child-capacity-subnet-sample
spec:
  capacity: "100"
  parentSubnetName: "ipv4-parent-cidr-subnet-sample"
  networkName: network-sample
  regions:
    - name: euw
      availabilityZones:
        - a
        - b
