apiVersion: ipam.metal.ironcore.dev/v1alpha1
kind: Subnet
metadata:
  name: ipv4-child-cidr-subnet-sample
spec:
  cidr: "10.0.0.0/16"
  parentSubnetName: "ipv4-parent-cidr-subnet-sample"
  networkName: network-sample
  regions:
    - name: euw
      availabilityZones:
        - a
        - b
